@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
/*  Estilos Gerais*/
* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

*:focus {
  outline: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 768px;
  padding: 0px 10px
}

.btn {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  color: #000;
  font-weight: bold;
  border: 0;
}

.btn-claro {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  background-color: #3B1D98;
  font-weight: bold;
  border: 0;
  color: #fff;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
  animation: 1s subir forwards;
}

img {
  display: block;
  max-width: 100%;
  animation: 1s subir forwards;
  opacity: 0;
}

h1 {
  animation: 1s subir forwards;
  transition: 1s;
  font-size: 36px;
  opacity: 0;
}

h2 {
  animation: 1s subir forwards;
  transition: 1s;
  font-size: 24px;
  opacity: 0;
}

h3, cite {
  animation: 1s subir forwards;
  font-size: 20px;
  animation: 1s subir forwards;
  opacity: 0;
}

blockquote {
  animation: 1s subir forwards;
  opacity: 0;
}

/*menu*/

header {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

header nav {
  display: flex;
  margin-right: 25px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 60px;
  width: 100%;
  max-width: 500px;
}

header nav .lista-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  height: 60px;
  margin: 0;
  width: 100%;
}

header nav ul li {
  text-align: center;
  padding: 10px 0px ;
  margin-left: 10px;
  transition: 0.3s;
  border-radius: 5px;
  width: 150px;
}


header nav ul li:first-child {
  margin-left: 0px;
}

header nav ul li a {
  color: black;
  text-transform: uppercase;
}

header nav ul li:hover {
  box-shadow: 0px 3px 5px #513779;
  background-color: rgba(81, 55, 121, .3);
}

/*introducao*/

.introducao {
  transition: 1s;
  height: 400px;
  background-color: #3B1D98;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introducao div {
  padding: 0px 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introducao h1.titulo {
  color: #fff;
  font-weight: bolder;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  animation: 1s subir forwards;
}

.subtitulo {
  text-align: center;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 5px;
  animation: 1s subir forwards;
}

.textotitulo {
  text-align: center;
  color: rgb(218, 216, 216);
  font-weight: bolder;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

.textotitulo-dark {
  color: #000;
}

.introducao div .btn {
  margin-top: 20px;
  color: rgb(36, 35, 35);
  animation: 1s subir forwards;
}

/*depoimentos*/

.depoimentos {
  display: grid;
  justify-content: center;
  width: 100%;
  
}


.depoimentos .textotitulo{
  animation-delay: 0.2s;
}
.depoimentos .subtitulo {
  animation-delay: 0.2s;
  color: rgb(36, 35, 35);
  text-transform: uppercase;
  margin-top: 20px;
  animation-delay: 0.2s;
}
.depoimento {
  transition: 1s;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation-delay: 0.2s;
}

.depoimentos p {
  color: rgb(51, 51, 51);
  letter-spacing: 1px;
  margin-top: 10px;
}

.depoimento .avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.depoimento cite {
  font-weight: bold;
  margin-top: 15px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .1em;
}

.depoimento blockquote {
  margin-top: 5px;
  font-style: italic;
  text-align: center;
}


.depoimento blockquote:before {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background-color: #000;
  margin: 5px auto 5px auto;
}

.depoimento blockquote:after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background-color: #000;
  margin: 5px auto 25px auto;

}

/*portfolio*/

.portfolio {
  background-color: #3B1D98;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .subtitulo {
  animation-delay: 0.4s;
  transition: 1s;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.portfolio  .container .amostra {
  transition: 1s;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  animation-delay: 0.4s;
}

.portfolio  .container .amostra .item3{
  transition: 1s;
  grid-column: 1/4;
}

.container .amostra .img-portfolio {
  transition: 1s;
  border-radius: 15px;
}

.amostra .img-portfolio img{
  transition: 1s;
  border-radius: 15px;
  width: 100%;
}
.portfolio .text-portfolio {
  transition: 1s;
  background-color: white;
  
  border-radius: 15px;
  padding: 15px 10px;
}

.portfolio .botao-portfolio {
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  animation-delay: 0.4s;
  animation: 1s subir forwards;
}

footer {
  transition: 1s;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: auto;
  padding: 20px 0;
}

footer .redesocial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  animation-delay: 0.6s;
  animation: 1s subir forwards;
}

footer b {
  animation-delay: 0.6;
  animation: 1s subir forwards;
}

.redesocial img {
  width: 50px;
}

@media only screen and (max-width: 787px) {
  p, button{
    font-size: 12px;
    line-height: 18px;
  }

  blockquote, cite {
    font-size: 12px;
    line-height: 20px;
  }

  li {
    font-size: 14px;
  }

  h1{
    font-size: 24px;
    line-height: 30px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  h3 {
    font-size: 14px;
  }
  
  .depoimento .avatar {
    margin-top: 5px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
	.portfolio  .container .amostra {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .portfolio  .container .amostra .item3{
    grid-column: 1;
  }

  .redesocial img {
    width: 30px;
  }
  
  footer .direitos {
    text-align: center;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 350px) {
  li {
    font-size: 12px;
  }
}

                                                                                                                                                                                                                                                                                                                                                                                          





